    {% extends "blog/_layouts/default.html" %}
    {% load crispy_forms_tags %}
    {% block content %}
        <h1 class="pageTitle">Blog Post</h1>
        <div class="row">
            <div class="col-md-12 signup-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                    </fieldset>
                    {% if object %}
                        <input type="submit" value="Update" class="button">
                        <a href="{% url 'post-detail' object.id %}" class="button-tertiary">Cancel</a>
                    {% else %}
                        <input type="submit" value="Post It" class="button">
                    {% endif %}
                </form>
            </div>
        </div>

    {% endblock %}
