    {% extends "blog/_layouts/default.html" %}
    {% load crispy_forms_tags %}
    {% block content %}
        <h1 class="pageTitle">Reset Password</h1>
        <div class="row">
            <div class="col-md-12 reset-password-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                    </fieldset>
                    <input type="submit" value="Reset Password" class="button">
                </form>
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Want to <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>

    {% endblock %}
