    {% extends "blog/_layouts/default.html" %}
    {% load crispy_forms_tags %}
    {% block content %}
        <h1 class="pageTitle">Register here</h1>
        <div class="row">
            <div class="content-section signup-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                    </fieldset>
                    <input type="submit" value="Sign Up" class="button">
                </form>
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>

    {% endblock %}
